.index-body {
    background-image: url("images/index.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #e1e1e1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background: url(background-photo.jpg) center center cover no-repeat fixed;*/
}

.trainers-body {
    background-image: url("images/trainers.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #e1e1e1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.activities-body {
    background-image: url("images/activities.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #e1e1e1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.shop-body {
    background-image: url("images/shop.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #e1e1e1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-body {
    background-image: url("images/gym.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #e1e1e1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*----------------------------------header-------------------------------------*/

header .btn {
    float: right;
}

.container-top {
    background-color: rgba(0, 0, 0, 0);
    height: 70px;
}

/*---------------------------------big logo------------------------------------*/

.mylogo-big {
    font-family: 'Alfa Slab One', sans-serif;
    font-size: xx-large;
    letter-spacing: 8px;
    color: #e1e1e1;
    width: 240px;
    height: 100px;
    position: relative;
}

#per_in_logo-big {
    margin-bottom: -20px;
}

#fect_in_logo-big {
    margin-bottom: 0px;
    letter-spacing: 11px;
}

#dumbbell-big {
    color: #e0000e;
    margin: 0;
    position: absolute;
    font-size: xx-large;
    right: 100px;
    top: 0px;
}

#gym_in_logo-big {
    margin: 0;
    position: absolute;
    right: 0px;
    top: 18px;
}

/*---------------------------------Nav bar-------------------------------------*/

.font-nav-main {
    font-family: 'Alfa Slab One', sans-serif;
    font-weight: 100;
    font-size: large;
}

nav ul li {
    font-family: 'Alfa Slab One', sans-serif;
    font-weight: 100;
    font-size: large;
    padding: 0px 15px;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #e0000e;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #e0000e;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.navbar {
    padding: 2rem 2rem;
}

.navbar-toggler {
    background-color: rgba(224, 0, 14, .7);
    border-radius: 20%;
    border-color: #e0000e;
}

.dropdown-menu {
    color: #e0000e;
    background-color: transparent;
    border: rgba(0, 0, 0, 0);
}

.dropdown-item {
    color: #e0000e;
}

.dropdown-item:hover {
    color: #e0000e;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 15px;
}

button:focus {
    outline-color: transparent;
}

.shop-icon {
    color: #e1e1e1;
}

/*---------------------------------main section-------------------------------------*/

.container-index {
    margin-top: 95px;
}

.slogan {
    margin: 0% 5%;
    padding: 0rem 0rem;
    display: block;
}

.gp {
    font-size: 12px !important;
    margin: 0rem 5rem;
    padding: 0rem 5rem;
    display: block;
    font-style: italic;
}

/*----------------------------------Footer-------------------------------------*/

.mylogo {
    font-family: 'Alfa Slab One', sans-serif;

    letter-spacing: 8px;
    color: #e1e1e1;
    width: 145px;
    position: relative;
}

#per_in_logo {
    margin-bottom: -8px;
}

#fect_in_logo {
    margin-bottom: 0px;
    letter-spacing: 9.5px;
}

#dumbbell {
    color: #e0000e;
    margin: 0;
    position: absolute;
    right: 60px;
    top: 0px;
}

#gym_in_logo {
    margin: 0;
    position: absolute;
    right: 0px;
    top: 9px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0 !important;
    min-height: 50px;
    background-color: rgba(0, 0, 0, .3);
}

.footer-items {}

#phone,
#map {
    color: #fff;
}

.social-link {
    margin: 0;
}

#facebook:hover {
    color: #3b5998;
    font-size: 22px;
}

#instagram:hover {
    color: #cf191f;
    font-size: 22px;
}

#twitter:hover {
    color: #38A1F3;
    font-size: 22px;
}

#youtube:hover {
    color: #FF0000;
    font-size: 22px;
}

.social-link li a i {

    font-size: 18px;
    text-align: center;
    color: #fafafa;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.list-inline-item {
    margin: 0;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

/*----------------------join us form-------------------------*/

.font-form-title {
    font-family: 'Alfa Slab One', sans-serif;
    font-weight: 100;
    font-size: x-small;
}

.font-form-item {
    font-family: 'Alfa Slab One', sans-serif;
    font-weight: 100;
    font-size: small;
}

.btn-success {
    color: #e0000e !important;
    background-color: #fff !important;
    border-color: #e0000e;
    padding: 5px 5px !important;
}

.btn-success:hover {
    color: #fff !important;
    background-color: #e0000e !important;
    border-color: #e0000e;
}

.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
    color: transparent;
    background-color: transparent;
    border-color: #e0000e;
}

.btn-success.focus,
.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

/*----------------------Special paddings/margins/text-------------------------*/

.bg-transparent {
    background-color: rgba(0, 0, 0, .1);
}

.uppercase {
    text-transform: uppercase;
}

.main-font {

    font-family: 'Alfa Slab One', sans-serif;
    font-weight: 100;
    font-size: x-large;
    color: #e1e1e1;
    text-shadow: 2px 2px 2px #e0000e;
    text-align: center;
}

.footer-font {
    font-size: small;
    font-family: 'Alfa Slab One', sans-serif;
    font-weight: 100;
    color: #fff;
}

a:hover {
    color: #e0000e;
    text-decoration: none;
}

a {
    margin: 0 5px;
}

.d-block {
    display: block;
}

.d-inlineblock {
    display: inline-block;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.btn {
    font-family: 'Alfa Slab One', sans-serif;
    font-weight: 100;
    color: #e0000e;
    text-align: center;
    padding: 5px 0px;
    font-size: 1rem;
}

.btn:hover {
    text-decoration: none;
    background-color: #e0000e;
    color: #fff;
    transition: background-color .2s ease-in-out;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

h2 {
    font-family: 'Alfa Slab One', sans-serif;
    font-size: xx-large;
    color: #e0000e;
    /*width: 240px;*/
    /*height: 100px;*/
    position: relative;
    text-align: center;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/*-------------------------------trainers-----------------------------------*/

.box {
    -webkit-box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.75);
    width: 300px !important;
    height: 300px;
    display: inline-block;
    background-color: #414345;
    margin: 35px 5px;
    border-radius: 2%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.special-marging-top {
    margin-top: 150px;
}

.trainer {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    top: -70px;
    right: 0%;
    border-style: solid;
    border-width: 10px;
    border-color: #e1e1e1;
    -webkit-box-shadow: 0px 0px 40px 30px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 40px 30px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 40px 30px rgba(0, 0, 0, 0.75);
    transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
}

.trainer:hover {
    transform: translate(0px, -10px)
}

.box h2 {
    font-family: 'Alfa Slab One', sans-serif;
    font-size: xx-large;
    color: #e0000e;
    text-align: center;
    top: -10%;
    left: 50%;
    height: 45px;
    width: 200px;
    border-radius: 2px;
    position: relative;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.box a {
    color: #e1e1e1;
    position: absolute;
    text-align: center;
    font-size: 1rem;
    top: 85%;
    left: 50%;

    transform: translate(-50%, -50%)
}

.box a:hover {
    text-decoration: none;
    background-color: #e1e1e1;
    color: #e0000e;
    transition: background-color .2s ease-in-out;
}

.box p {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: #e1e1e1;
    position: relative;
    text-align: justify;
    font-style: italic;
    top: 5%;
    left: 50%;
    margin-right: 15%;
    transform: translate(-50%, -50%);
}

/*-------------------------------activities-----------------------------------*/

.box-activity {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    width: 200px;
    height: 200px;
    display: inline-block;
    background-color: #414345;
    position: relative;
    margin: 35px 5px;
    border-radius: 2%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image-zumba {
    background-image: url("images/zumba.jpg");
}

.image-yoga {
    background-image: url("images/yoga.jpg");
}

.image-kids {
    background-image: url("images/kids.jpg");
}

.image-pilates {
    background-image: url("images/pilates.jpg");
}

.image-crossfit {
    background-image: url("images/crossfit.jpg");
}

.image-elderly {
    background-image: url("images/elderly.jpg");
}

.image-gruning {
    background-image: url("images/grunning.jpg");
}

.image-individual {
    background-image: url("images/individual.jpg");
}

.special-marging {
    margin-bottom: 200px !important;
}

.box-activity h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    text-align: center;
    top: 111%;
    background-color: #fafafa;
    height: 45px;
    width: 200px;
    border-radius: 2px;
}

.box-activity p {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: #e1e1e1;
    text-align: justify;
    font-style: italic;
    position: absolute;
    top: -35%;
    left: 50%;
    margin-right: -135%;
    transform: translate(-50%, -50%);
}

/*-------------------------------shop-----------------------------------*/

.box-shop {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    width: 250px;
    height: 300px;
    display: inline-block;
    background-color: #414345;
    position: relative;
    margin: 50px 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image-watch {
    background-image: url("images/watch.jpg");
}

.image-shirt {
    background-image: url("images/shirt.jpg");
}

.image-bottle {
    background-image: url("images/bottle.jpg");
}

.image-shoe {
    background-image: url("images/shoe.jpg");
}

.image-protein {
    background-image: url("images/protein.jpg");
}

.image-comingsoon {
    background-image: url("images/comingsoon.jpg");
}

.box-shop p {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    background-color: #fafafa;
    font-size: medium;
    font-weight: 700;
    color: #000;
    width: 250px;
    height: 60px;
    margin-top: 301px;
    padding-left: 10px;
}

/*-------------------------------contact-----------------------------------*/

.contact {
    max-width: 50%;
}

.font-contact {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 900;
    text-shadow: -1px 0px rgb(0, 0, 0);
}

.contact div {
    max-height: 90px
}

.contact h3 {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 900;
    text-shadow: -1px 0px rgb(0, 0, 0);
}

.form-control {
    display: block;
    color: #fafafa;
    background-color: #e1e1e1;
    background-clip: padding-box;
    border: 2px solid #414141;
    border-radius: 10px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.font-radio {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 900;
    text-shadow: -1px 0px rgb(0, 0, 0);
}

.contact input {
    margin: 20px 0px;
}

/*-------------------------------Media Query-----------------------------------*/

@media only screen and (max-width: 767px) {
    index-body {
        background-image: url("images/index-mobile.jpg");
/*         background-attachment: scroll; */
    }

    trainers-body {
        background-image: url("images/trainers-mobile.jpg");
/*         background-attachment: scroll; */
    }

    .activities-body {
        background-image: url("images/activities-mobile.jpg");
/*         background-attachment: scroll; */
    }

    .shop-body {
        background-image: url("images/shop-mobile.jpg");
/*         background-attachment: scroll; */
    }

    .contact-body {
        background-image: url("images/gym-mobile.jpg");
/*         background-attachment: scroll; */
    }

    .contact {
        max-width: 90%;
    }
}

@media only screen and (max-width: 576px) {
    .container-index {
        margin-top: 35px;
    }
    .slogan {
        margin: 0;
    }

    .gp {
        font-size: 12px !important;
        margin: 0rem 0rem;
        padding: 0rem 0rem;
        display: block;
        font-style: italic;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
}
